/*MAIN*/
body { 
  font-family: Arial, Helvetica, sans-serif;
  color: #3c3c3c;
  -webkit-font-smoothing: antialiased;
  font-size: 1.05em;	
}

.nav-top {
  margin: 0 auto;
  max-width: 1660px;
}
.nav-top-right-mobile span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.nav-top ul {
  margin: 0;
  list-style: none;
}

.nav-top li {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.nav-top-right {

}

/*IPAD*/
@media only screen and (max-width : 768px) {
.nav-top-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.04762em;
  
}

.nav-top-left {
  position: relative;
  margin-left: 0;
  margin-right: auto;
  overflow: hidden;
  height: 2.3em;
}
#vima-logo {
  width: 100px;
}

.nav-top-right-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: pointer;
}
.nav-top-list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.nav-top-right li {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.benefits-wrapper {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  }
}

#wave {
  position: absolute;
  top: 0;
  right: 0;
  width: 62%;
  z-index: -1;
  filter: drop-shadow(50px 20px rgb(238, 133, 140, 0.3));
  }



#vima-logo {
  /*width: 100px;
  
  /*float:left;
  width: 90px;
  padding: 10px;*/
}


/*.navbar-container{
/*float:right;

}


.item {
  
 
/*display: inline-block; 
padding:10px;
font-size:20px; 
}

.item  {
text-decoration: none;
color: white;
}

.item:hover{
padding-bottom: 2px;
border-bottom: 2px solid white;
}*/

.main-container {
  max-width: 1085px;
  margin: 0 auto;
  padding: 2em 1em;
}

main {
  display: flex;
  flex-flow: column;
}

figure{
  text-align: center;
}

figure img {
  margin: 3em auto 0;
  width: 235px;
}

#cta-wrapper {

text-align: center;
/*background-color: rgb(233, 66, 94,0.9)!important;
padding: 50px;*/
}

.cta-title {
  font-size: 2.9em;
  color: #3c3c3c;
  margin: 1em;
  font-weight: 700;
  line-height: 1.25em;
}
  
  .cta-paragraph {
  font-size: 1.8em;
  color: #898084;
  margin: 1em;
  line-height: 1.2em;
  }
  
  .cta-button {
    padding: 15px;
    border-radius: 50px;
    width: 30%;
    background-color: #e9425e;
    color: white;
    font-size: 1.25em;
    font-weight: 600;
    box-shadow: 0 4px 21px -5px rgb(233, 66, 94, 0.8);
    margin-top: 3em;
    margin-bottom: 1em;
    border: none;
  }

/*.cta-container-left {
display: flex;
float: left;
flex: auto;
flex-direction: column;
margin: 20px;

/*border: 1px solid grey;
width: 100%;
text-align: left;
line-height: 1.2;
place-content: center;
}



.cta-container-right {
display: flex;
float: right;
margin: 20px;
width: 100%;
place-items: right;
}

/*.iphone {
display: flex;
width: 100%;
height: auto;
/*transform: rotate(10deg);
filter: drop-shadow(0 0 0.3rem #898084);
}*/


#benefits  {
margin-top: 3em;
}
.benefits-wrapper {
display: flex;
margin: 2em 0;
}
.title-container {
  text-align: center;
  font-size: 2.85em;
  font-weight: 700;
  color: #3c3c3c;

}
.benefit-container {
margin: 20px;
padding: 10px;
padding-bottom: 30px;
display: flex;
flex-direction: column;
flex: auto;
text-align: center;
box-shadow: 0 4px 21px -5px rgba(97, 97,97, 0.23);
border-radius: 10px;
line-height: 1.2;
background-color: white;
}

.benefit-container > div {
margin: 5px;
}




.icon {
height: 35px;
object-position: center;
filter: drop-shadow(5px 5px rgb(238, 133, 140, 0.3));
}

.benefit-title {
padding: 7px 0;
font-size: 1.7em;
font-weight: 540;
color: #4b4b4b;
}


.benefit-text {
font-size: 1.3em;
color: #898084;
padding: 7px 0;
}




#feature-wrapper{
  text-align: center;
}



/*.feature-container-left > div, .feature-container-right > div {
margin: 5px;
}*/




/*display: flex;
float: left;
flex: auto;
flex-direction: column;
margin: 20px;
/*border: 1px solid grey;
width: 100%;
text-align: right;
line-height: 1.2;
place-content: center center;
}*/

/*.image-wrapper {
  display: flex;
  flex: auto;
  width: auto;
}*/



.feature-title {
padding: 10px 0;
color: #e9425e;
font-size: 2.85em;
  font-weight: 700;

}

.feature-text {
  font-size: 1.8em;
  color: #898084;
  margin: 1em;
  line-height: 1.2em;
}

/* .header {
 padding: 10px 0;
 padding-left: 4px;
 height: 50px;
}

nav {
    float:right;
  }

.logo img {
    float:left;
    width: 90px;
  
  }

ul li{
  display: inline-block; 
  padding:10px;
  font-size:20px; 
}
a {
    text-decoration: none;
    color: #4b4b4b;
}

a:hover{
  border-bottom: 2px solid #e9425e;
}
.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.blue {
color: blue;
}
.cta, .iphone {
display: inline-block;
width: 400px;
height: 600px;
margin: 1px;
}
.mockup {
  transform: rotate(10deg);
}
.container {
  max-width: 1000px;
  height: 600px;
} */

#footer-wrapper {
  margin-top: 2em;
  text-align: center;
  background: rgb(226, 223, 225, 0.5)
}
#ada6a9
.text-wrapper {
margin: 1em 0;

}

.footer-text {
  font-size: 2.2em;
  padding: 10px;
  color: #3c3c3c;
  font-weight: 500;
  padding-top: 30px;
}

.some-wrapper {
  display: flex;
  /* float: right; */
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  padding-bottom: 30px;
}

.some-container {


}

.some {
width: 20%;
height: auto;
} 